<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

        <!--
          scope
               singleton（默认值） 单例的 创建的是一个对象

               prototype:每一次调用都会创建一个新对象
        -->

        <!--<bean id="user" class="com.bjsxt.pojo.User" scope="singleton"></bean>
-->

        <!--扫描包内的注解标签-->
       <context:component-scan base-package="com.bjsxt.pojo"></context:component-scan>


      <!-- <bean id="user" class="com.bjsxt.pojo.User">

           <property name="name"  ref="name"></property>

       </bean>-->


       <bean id="name" class="java.lang.String">

           <constructor-arg index="0" value="zs"></constructor-arg>

       </bean>

        <bean id="sex" class="java.lang.String">

            <constructor-arg index="0" value="男"></constructor-arg>

        </bean>

       <!--
          String  name ="zs";

          String  name =new  String("zs");

         -->

        <!--引入读取属性文件-->
    <context:property-placeholder location="classpath:a.properties"></context:property-placeholder>

</beans>