<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsxt.mapper.LeaveMapper">

    <select id="selectAll" resultType="leave">

        SELECT   *  from  LeaveRecords

    </select>

    <delete id="delete">

          DELETE   from     LeaveRecords  where  id =#{0}
    </delete>

</mapper>